.about {
  background-color: #0a2850;
  display: flex;
  justify-content: space-between;
  padding: 100px 80px 0 80px;
  position: relative;
  overflow: hidden;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 251px;
  position: relative;
  z-index: 0;
}

.about__content {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 19px 0 173px 0;
  max-width: 660px;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  top: -140px;
  left: -120px;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
