.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  color: #ffffff;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 80px 0 0;
}

.recipes__subtitle {
  color: #fff;
  font-family: Noto serif, "Times New Roman", serif;
  font-style: normal;
  margin-bottom: 80px;
  margin-top: 24px;
  font-weight: normal;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  color: #fff;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
